.button {
  border-radius: 8px;
  border: 1px solid var(--button-border);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--button-bg);
  color: var(--button-text);
  cursor: pointer;
  transition: border-color 0.25s, background-color 0.25s, opacity 0.25s;

  &:hover:not(:disabled) {
    border-color: var(--button-border-hover);
    background-color: var(--button-bg-hover);
  }

  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
    background-color: var(--button-bg-disabled);

    &:hover {
      border-color: var(--button-border);
      background-color: var(--button-bg-disabled);
    }
  }
}
